---
layout: default
title: "Tootback"
description: "All your toots from Mastodon"
---
<header class="navigation">
    <div class="navigation-wrapper">
        <h1 id="logo">{{ title }}</h1>
        <div id="search" class="search"></div>
        <a href="./toots" class="button-primary">Timeline</a>
    </div>
</header>

<main class="container">
    <link href="./toot/pagefind/pagefind-ui.css" rel="stylesheet">
    <script src="./toot/pagefind/pagefind-ui.js" onload="new PagefindUI({ element: '#search', showImages: false });"></script>
</main>
