---
# see ./toots.11tydata.js
---

<header class="navigation">
    <div class="navigation-wrapper">
        <h1 id="logo"><a href="/">Tootback</a></h1>
        <div id="search" class="search"></div>
        <a href="/" class="button-primary">Search</a>
    </div>
</header>

<main class="container">
  <div class="items-list items-list--toots">
  {%- for item in pagination.items %}
    <article class="item item--toot">
      <div class="item-content">
        {% if "Create" in item.type %}
          {{ item.object.content | safe }}
        {% endif %}

        {% if "Announce" in item.type %}
          <header class="item-header">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.3172 1.4332L16.0672 5.1832C16.1253 5.24124 16.1714 5.31017 16.2029 5.38605C16.2343 5.46192 16.2505 5.54325 16.2505 5.62539C16.2505 5.70752 16.2343 5.78885 16.2029 5.86472C16.1714 5.9406 16.1253 6.00953 16.0672 6.06757L12.3172 9.81757C12.1999 9.93485 12.0409 10.0007 11.875 10.0007C11.7091 10.0007 11.5501 9.93485 11.4328 9.81757C11.3155 9.7003 11.2497 9.54124 11.2497 9.37538C11.2497 9.20953 11.3155 9.05047 11.4328 8.9332L14.1164 6.25039L5 6.25039L5 9.37573C5 9.54149 4.93415 9.70046 4.81694 9.81767C4.69973 9.93488 4.54076 10.0007 4.375 10.0007C4.20924 10.0007 4.05027 9.93488 3.93306 9.81767C3.81585 9.70046 3.75 9.54149 3.75 9.37573L3.75 5.62539C3.75 5.45963 3.81585 5.30065 3.93306 5.18344C4.05027 5.06623 4.20924 5.00039 4.375 5.00039L14.1164 5.00038L11.4328 2.31757C11.3155 2.2003 11.2497 2.04124 11.2497 1.87538C11.2497 1.70953 11.3155 1.55047 11.4328 1.4332C11.5501 1.31592 11.7091 1.25004 11.875 1.25004C12.0409 1.25004 12.1999 1.31592 12.3172 1.4332Z" fill="#707070"/><path d="M7.0583 18.5675L3.3083 14.8175C3.25019 14.7595 3.20409 14.6906 3.17264 14.6147C3.14119 14.5388 3.125 14.4575 3.125 14.3753C3.125 14.2932 3.14118 14.2119 3.17264 14.136C3.20409 14.0601 3.25019 13.9912 3.3083 13.9332L7.0583 10.1832C7.17558 10.0659 7.33464 10 7.50049 10C7.66634 10 7.8254 10.0659 7.94268 10.1832C8.05995 10.3004 8.12584 10.4595 8.12584 10.6253C8.12584 10.7912 8.05995 10.9503 7.94268 11.0675L5.25908 13.7503L14.3755 13.7503L14.3755 10.625C14.3755 10.4592 14.4413 10.3003 14.5585 10.1831C14.6758 10.0658 14.8347 10 15.0005 10C15.1662 10 15.3252 10.0658 15.4424 10.1831C15.5596 10.3003 15.6255 10.4592 15.6255 10.625L15.6255 14.3753C15.6255 14.5411 15.5596 14.7001 15.4424 14.8173C15.3252 14.9345 15.1662 15.0003 15.0005 15.0003L5.25908 15.0003L7.94268 17.6832C8.05995 17.8004 8.12584 17.9595 8.12584 18.1253C8.12584 18.2912 8.05995 18.4503 7.94268 18.5675C7.8254 18.6848 7.66634 18.7507 7.50049 18.7507C7.33464 18.7507 7.17558 18.6848 7.0583 18.5675Z" fill="#707070"/></svg>
            <p>Boost</p>
          </header>

          <a target="_blank" href="{{ item.object }}">{{ item.object }}</a>
        {% endif %}
      </div>

      <footer class="item-footer">
        <!--{{item.type}}-->
        <p><time>{{ item.published | dateToLocaleString }}</time></p>
        <a class="item-footer-external-link" href="{{ item.object.url }}" target="_blank">Open<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.5 8.125C17.5 8.29076 17.4342 8.44973 17.3169 8.56694C17.1997 8.68415 17.0408 8.75 16.875 8.75C16.7092 8.75 16.5503 8.68415 16.4331 8.56694C16.3158 8.44973 16.25 8.29076 16.25 8.125V4.63438L11.068 9.81719C10.9507 9.93446 10.7916 10.0003 10.6258 10.0003C10.4599 10.0003 10.3009 9.93446 10.1836 9.81719C10.0663 9.69991 10.0004 9.54085 10.0004 9.375C10.0004 9.20915 10.0663 9.05009 10.1836 8.93281L15.3656 3.75H11.875C11.7092 3.75 11.5503 3.68415 11.4331 3.56694C11.3158 3.44973 11.25 3.29076 11.25 3.125C11.25 2.95924 11.3158 2.80027 11.4331 2.68306C11.5503 2.56585 11.7092 2.5 11.875 2.5H16.875C17.0408 2.5 17.1997 2.56585 17.3169 2.68306C17.4342 2.80027 17.5 2.95924 17.5 3.125V8.125ZM14.375 10C14.2092 10 14.0503 10.0658 13.9331 10.1831C13.8158 10.3003 13.75 10.4592 13.75 10.625V16.25H3.75V6.25H9.375C9.54076 6.25 9.69973 6.18415 9.81694 6.06694C9.93415 5.94973 10 5.79076 10 5.625C10 5.45924 9.93415 5.30027 9.81694 5.18306C9.69973 5.06585 9.54076 5 9.375 5H3.75C3.41848 5 3.10054 5.1317 2.86612 5.36612C2.6317 5.60054 2.5 5.91848 2.5 6.25V16.25C2.5 16.5815 2.6317 16.8995 2.86612 17.1339C3.10054 17.3683 3.41848 17.5 3.75 17.5H13.75C14.0815 17.5 14.3995 17.3683 14.6339 17.1339C14.8683 16.8995 15 16.5815 15 16.25V10.625C15 10.4592 14.9342 10.3003 14.8169 10.1831C14.6997 10.0658 14.5408 10 14.375 10Z" fill="#707070"/></svg>
</a>
      </footer>
    </article>
    
  {% endfor -%}
  </div>

  <nav>
    <ol class="inline-list small pagination">
      <li>
        {% if pagination.href.previous %}
          <a href="{{ pagination.href.previous }}">Previous</a>
        {% else %}Previous{% endif %}
      </li>
      {%- for pageEntry in pagination.pages %}
        <li>
          <a href="{{ pagination.hrefs[ loop.index0 ] }}" {% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page" {% endif %}>{{ loop.index }}</a>
        </li>
      {%- endfor %}
      <li>
        {% if pagination.href.next %}
          <a href="{{ pagination.href.next }}">Next</a>
        {% else %}Next{% endif %}
      </li>
    </ol>
  </nav>
</main>