<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tootback | Mastodon archive</title>

    <!-- capture the CSS content as a Nunjucks variable -->
    {% set css %}
        {% include "_includes/style.css" %}
    {% endset %}
    <!-- feed it through our cssmin filter to minify -->
    <style>
    {{css | safe}}
    </style>
</head>
<body>
    {{content|safe}}
</body>
</html>